{{#with celebritiesDetails}}
    <h2>Details for {{name}}:</h2>
    <h5>Occupation: {{occupation}}</h5>
    <h5>Quote: {{catchPhrase}}</h5>
    <a href="/celebrities"><button>Back</button></a>
    <a href="/celebrities/{{_id}}/edit"><button>Edit</button></a>
{{/with}}